<?xml version="1.0"?>
<config>
    <modules>
        <Easyship_Shipping>
            <version>0.1.5</version>
        </Easyship_Shipping>
    </modules>
    <global>
        <models>
            <easyship>
                <class>Easyship_Shipping_Model</class>
            </easyship>
        </models>
        <resources>
            <easyship_setup>
                <setup>
                    <module>Easyship_Shipping</module>
                </setup>
            </easyship_setup>
        </resources>
        <helpers>
            <easyship>
                <class>Easyship_Shipping_Helper</class>
            </easyship>
        </helpers>
        <blocks>
            <easyship>
                <class>Easyship_Shipping_Block</class>
            </easyship>
        </blocks>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <easyship_height/>
                        <easyship_width/>
                        <easyship_length/>
                        <easyship_category/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <default>
        <carriers>
            <easyship>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <allowed_methods>easyship</allowed_methods>
                <title>Easyship</title>
                <model>easyship/carrier</model>
                <easyship_api_url>https://api.easyship.com</easyship_api_url>
                <shipment_requesttype>0</shipment_requesttype>
            </easyship>
        </carriers>
        <easyship_options>
            <general>
                <dimension_unit>cm</dimension_unit>
                <weight_unit>kg</weight_unit>
            </general>
        </easyship_options>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easyship_options>
                                            <title>Easyship Settings</title>
                                        </easyship_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <easyship>
                    <file>easyship.xml</file>
                </easyship>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Easyship_Shipping after="Mage_Adminhtml">Easyship_Shipping_Adminhtml</Easyship_Shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
